<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <title>Selena Delčev</title>
        <link rel="stylesheet" href="author.component.css">
        <link rel="preconnect" href="https://fonts.googleapis.com">
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
        <link href="https://fonts.googleapis.com/css2?family=Montserrat&family=Sacramento&display=swap" rel="stylesheet">
    </head>

    <body>
        <div class="top-container">
            <img class="top-cloud" src="/assets/images/cloud.png" alt="cloud image">
            <h1>Ja sam Selena</h1>
            <h2>Student</h2>
            <img class="bottom-cloud" src="/assets/images/cloud.png" alt="cloud image">
            <img src="/assets/images/mountain.png" alt="mountain image">
        </div>

        <div class="middle-container">
            <div class="profile">
                <img class="profile-img" src="/assets/images/profile.png" alt="profile image">
                <h2>Zdravo.</h2>
                <p class="intro">Student treće godine OAS na Fakultetu tehničkih nauka u Novom Sadu, smer Inženjerstvo informacionih sistema. Visoko motivisani junior prgramer, spremna da unpaređuje i širi svoje znanje od iskusnijih kolega. Uvek spremna da istražuje nešto novo. Upornost, iskrenost i istrajnost su glavne osobine kojom se vodi. Spremna da radi pod pritiskom i preuzima rizik kada je to potrebno</p>
            </div>
              <hr>
              <div class="skills">
                <h2>Moja dnevna rutina.</h2>
                <div class="skill-row">
                  <img class="code-img" src="/assets/images/computer.png" alt="programming skills">
                  <h3>Učenje</h3>
                  <p><i>"Ono što možeš danas ne ostavljaj za sutra"</i> je moja svakodnevna motivacija kako bih ispunila sve svoje fakultetske obaveze na vreme. Redovni odlazak na predavanja i vežbe i svakodnevni rad je uvek bliži i lakši korak ka cilju. Normalno je da nam se nešto ne sviđa, ali bitno je završiti sve svoje obaveze ma koliko bile teške za nas. Programiranje nije nešto u čemu se striktno pronalazim, ali kada bih morala da biram Frontend Developer je nešto što mi se sviđa.</p>
                </div>
                <div class="skill-row">
                  <img class="series_and_movies_img" src="/assets/images/movies.png" alt="watch movies">
                  <h3>Serije i filmovi</h3>
                  <p>Svako ko me bolje poznaje zna da volim da "bindžujem" serije i filmove. Veliki sam zaljubljenik kada su u pitanju serije, tako da barem jedna epizoda dnevno je moj odmor. Američka, Turska, Španska, nije bitno samo da  je serija.... Ili film...</p>
                </div>
              </div>
              <hr>
              <div class="contact-me">
                <h2>Kontaktiraj me</h2>
                <h3>Ako voliš serije i filmove kao i ja, ili voliš košarku</h3>
                <a class="btn" href="mailto:selenadelcev411@gmail.com">Kontaktiraj me</a>
              </div>
            </div>
            
            
            <div class="bottom-container">
              <a class="footer-link" href="https://www.linkedin.com/in/selena-del%C4%8Dev-61737419b/">LinkedIn</a>
              <a class="footer-link" href="https://github.com/SelenaDelcev">GitHub</a>
              <a class="footer-link" href="https://www.instagram.com/_seldel_/">Instagram</a>
              <p class="bottom">©2022 Selena Delčev.</p>
        </div>

        <div class="bottom-container">

        </div>
        
    </body>
</html>