<!DOCTYPE html>
<html>
    <head>
        <title>O nama</title>
        <link rel="stylesheet" type="text/css" href="about.component.css">
        <link rel="preconnect" href="https://fonts.googleapis.com">
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
        <link href="https://fonts.googleapis.com/css2?family=Josefin+Sans:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;1,100;1,200;1,300;1,400;1,500;1,600;1,700&display=swap" rel="stylesheet">
    </head>
    <body>
        <section class="about">
            <div class="main">
                <img src="/assets/images/project.png">
                <div class="about-text">
                    <h1>O nama</h1>
                    <h3> Razvoj višeslojnih aplikacija</h3>
                    <p>Aplikacija za vođenje evidencije o igračima i timovima u ženskoj košarci je individualni predmetni projekat za grupu 4. Postoje klase: Nacionalnost, Liga, Tim, Igrac. U tabeli Tim se nalazi strani ključ tabele Liga, a u tabeli Igrac se nalazi strani ključ tabele Nacionalnost i Tim. Cilj aplikacije jeste da prikaže tabele Nacionalnost, Liga i Tim posebno, a kada klikom izaberemo neki tim, treba da izlista igrače koji se nalaze u tom timu. Izrađen projekat ima za cilj da se primeni znanje sa predavanja koje obuhvata: Spring, injekcija zavisnosti, SpringDataJPA, SpringREST, JavaPersistenceAPI, Angular, PropertyEventBinding, Komponente, Direktive, RxJS Pipes.</p>
                    <p>Predmetni profesor: Đorđe Pržulj</p>
                    <P>Predmetni asistent: Jelena Petrovački</P>
                    <a class="button" href="https://sova.uns.ac.rs/course/view.php?id=3467">Kurs</a>
                </div>
            </div>
        </section>
    </body>

</html>